{% extends 'base.html' %}
{% block navbar %}
    {% include 'header.html' %}
{% endblock %}

{% block title %}
    Food Wars
{% endblock %}

{% block content %}
    <section>
        <h1 class='text-center'>Recent Acitivity</h1>
        <div class='row'>
            {% for recipe in recipes %}
                <div class='col-sm-4'>
                    <div class='card mb-3'>
                        <div class="main">
                            <div class="profile">
                                <div class='row'>
                                    <div class='col'>
                                        {% if recipe.created_by.userprofile and recipe.created_by.userprofile.profile_image %}
                                            <img src="{{ recipe.created_by.userprofile.profile_image.url }}" alt="User Profile Image" class="user-profile-image">
                                        {% else %}
                                            <img src="../../media/profile_images/default.png" alt="Default Profile Image" class="user-profile-image">
                                        {% endif %}
                                    </div>
                                    <div class='col'>
                                        <p class="username">{{ recipe.created_by.userprofile.first_name|capfirst }} {{ recipe.created_by.userprofile.last_name|capfirst|slice:":1" }}.</p>
                                    </div>
                                </div>
                            </div>
                            <a class="recipe-title" href="{% url 'recipe_detail' recipe_id=recipe.id %}">{{ recipe.title }}</a>
                        </div>
                        <div class='recipe-image' onclick="openModal('{{ recipe.image.url }}')">
                            {% if recipe.image %}
                                <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}" class="recipe-img">
                            {% endif %}
                        </div>
                        <div class='recipe-description'>
                            {% if recipe.description|wordcount > 20 %}
                                <p>{{ recipe.description|truncatewords:20 }} <a href="#">Continue reading</a></p>
                            {% else %}
                                <p>{{ recipe.description }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 and not forloop.last %}
                    </div><div class='row'>
                {% endif %}
            {% endfor %}
        </div>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#recipeModal">
            <div class="svg-wrapper-1">
              <div class="svg-wrapper">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  width="24"
                  height="24"
                >
                  <path fill="none" d="M0 0h24v24H0z"></path>
                  <path fill-rule="evenodd" d="M12 3.75a.75.75 0 0 1 .75.75v6.75h6.75a.75.75 0 0 1 0 1.5h-6.75v6.75a.75.75 0 0 1-1.5 0v-6.75H4.5a.75.75 0 0 1 0-1.5h6.75V4.5a.75.75 0 0 1 .75-.75Z" clip-rule="evenodd" />                </svg>
              </div>
            </div>
            <span style='color:white;'>Create</span>
        </button>

{% endblock %}

